[Unit]
Description=Start Grimoire on localhost:3000

[Service]
Type=simple
User=git
WorkingDirectory=/srv/www/grimoire
ExecStartPre=/bin/bash -c '/usr/bin/git pull origin master && /usr/bin/make clean setup'
ExecStartPost=/bin/bash -c 'echo "Service Grimoire started at `date +"%F %T"` on `/bin/hostname`" | /usr/bin/mail -s "[grimoire] started" me+logs@arrdem.com'
ExecStart=/bin/bash /srv/www/grimoire/run.sh
Restart=on-failure
