[Unit]
Description=Start Grimoire on port 3000
Author=Reid McKenzie

[Service]
Type=simple
User=git
WorkingDirectory=/srv/www/grimoire
ExecStartPre=/usr/bin/git pull origin master && /usr/bin/make clean setup
ExecStartPost=/bin/echo "Service Grimoire started at `date +"%F %T"` on `/bin/hostname`" | /usr/bin/mail -s "[grimoire] started" me+logs@arrdem.com
ExecStart=/bin/bash /srv/www/grimoire/run.sh
