#cheatsheet {
    code {
        font-family: monospace;
    }

    .page {
        page-break-after: always;
        page-break-inside: avoid;
    }

    .column {
        float: left;
        padding: 0;
        margin: 0;
        width: 50%;
    }

    .column:first-child {
        clear: both;
    }

    .header {
        text-align: center;
    }

    .header h2 {
        font-style: italic;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    .section {
        background-color: #ebebeb;
        margin: 0.5em;
        padding: 0 0.5em 0.5em;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td, .single_row {
        vertical-align: top;
        padding: 0 0.5em;
    }

    tr.odd, .single_row {
        background-color: #f5f5f5;
    }

    tr.even {
        background-color: #fafafa;
    }

    .footer {
        float: right;
        text-align: right;
        border-top: 1px solid gray;
    }

    #foot {
        clear: both;
    }
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    min-width: 21em;
    float: left;
}

div.container {
    min-width: 400px;
}

@media (min-width: 400px) {
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .grid-item {
        width: 50%;
        max-width: 32em;
    }
}

@media (min-width: 1100px) {
    .grid-item {
        width: 33.3333333%;
        max-width: 32em;
    }
}

@media (min-width: 1500px) {
    .grid-item {
        width: 25%;
        max-width: 32em;
    }
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
        max-width: 32em;
    }
}

@media (min-width: 2600px) {
    .grid-item {
        width: 16.666666666%;
        max-width: 32em;
    }
}

.search {
	padding: 0.3em 0.3em 0;
}

#search {
	margin: 0;
	display: block;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #ebebeb;
	padding: 5px;
	font-size: 1.5em;
	font-weight: bold;
	outline: none;
	box-sizing: border-box;
	width: 100%;
  min-width: 332px;
}

#search:focus {
	border: 1px solid #999;
}

#search.highlight {
	background: red;
}

.highlight {
	background: yellow;
}

.page {
	float: left;
}

.column {
	min-width: 30em;
}
