.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

div.editable {
    border: 2px solid #515151;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: .5em;
}

div.editable div.header {
    border-bottom: 2px solid #515151;
    border-left: 4px solid #515151;
}

div.editable div.header h2,
div.editable div.header h3,
div.editable div.header h4 {
    float: left;
    padding-left: 1em;
    margin-bottom: 1em;
}

div.editable div.header a.edit {
    padding-top: 1em;
    float: right;
    padding-right: 1em;
}

div.editable div.content {
    padding: 1rem;
}
